* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container,.signup-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-left, .signup-left {
    padding: 40px;
    width: 50%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

.welcome-message {
    margin-top: 20px;
    color: #999;
    font-size: 18px;
}

h2 {
    font-size: 24px;
    margin: 10px 0 20px;
    font-weight: bold;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
}

.login-form, .signup-form label {
    font-size: 14px;
    margin-bottom: 10px;
}

.login-form input, .signup-form input {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #F5F5F5;
    border-radius: 5px;
    font-size: 14px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 8px; 
    margin-top: 10px;
}


.form-options label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.form-options .forgot-password {
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
    text-decoration: underline;
}

.btn-continue {
    margin-top: 10px;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.signup-message, .login-message {
    margin-top: 20px;
    font-size: 14px;
}

.signup-message a, .login-message a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.loginbg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f9f9f9;
    width: 50%;
}

.loginbg img {
    max-width: 100%;
    height: auto;
}