:root {
    --bgColor: #FFFFFF;
    --bgColorusrpw: #F5F5F5;
    --brColorbutton: #2F3538;
    --textColor: #424242;
    --textColorcont: #FFFFFF;
    --textColorusrpw: #444444;
    --subtextColorenter: #ABABAB;

}

